* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: lightgrey;
}

/* Header */

header {
    background: white;
    height: 80px;
}

img {
    padding-top: 15px;
    margin-left: 20px;
}

h1 {
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}

/* Main */

.container {
    width: 70%;
    margin: 3px auto 0;
    background: white;
    padding-left: 50px;
}

.bottom-radius {
    padding-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Button */

.button-container {
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 50px;
}

.button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
}

.add-task:hover {
    background: white;
    color: #47ADF1;
    border: 1px solid #47ADF1;
}
.add-section:hover {
    background: #CFD4D8;
    color: white;
    border: 1px solid #CFD4D8;
}

.add-task {
    background: #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
}

.add-section {
    background: white;
    color: #CFD4D8;
    border: 1px solid #CFD4D8;
}

/* Unordered List */

section {
    padding-top: 50px;
}

ul {
    list-style: none;
}

li {
    
    line-height: 40px;
    font-size: 20px;
    color: #444851;
}

h2 {
    margin-top: 20px;
}

ul h2::before {
    content:"\25BE";
}

.done, .undone {
    font-weight: 600;
}

.done:before {
    content:"\2714";
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
}

.undone:before {
    content:"\2716";
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
}

/* Tags */

.tag {
    font-size: 12px;
    padding: 8px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}

.tag-1 {
    background: #45ABEA;
}

.tag-2 {
    background: #9C72E4;
}

.tag-3 {
    background: #64C0A9;
}

.tag-4 {
    background: #F29E33;
}

.tag-5 {
    background: #D863A1;
}

.tag-6 {
    background: #B0C926;
}